.area{
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botao{
    background-color: #FF0000;
    color: #cfbfbf;
    border: 0px;
    padding: 20px;
}
.a, .b, .c{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgb(19, 20, 22);
    background-repeat: no-repeat;
    background-position: center;
  
}
.a{
    background-image: url("../images/bixo-a.png");
}
.b{
   background-image: url('../images/bixo-b.jpg');
}
.c{
    background-image: url('../images/bixo-c.jpg');
    background-position:  center;
    background-size: cover;
} 